<div class="master-wrapper">

    <div class="preloader">
        <div class="preloader-img">
            <span class="loading-animation animate-flicker"><img src="~/Template/assets/img/loading.GIF" /></span>
        </div>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top fadeInDown" data-wow-delay="0.5s">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand smoothie" href="#">Tara Clay</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#aboutMe" class="">About</a>
                        <ul class="dropdown-menu" role="menu">
                            @*<li><a href="index.html">Home Fullscreen Slider</a></li>
                                <li><a href="index-video.html">Home Fullscreen Video</a></li>
                                <li><a href="index-magazine.html">Home Magazine</a></li>
                                <li><a href="index-shop.html">Home Shop</a></li>
                                <li><a href="index-countdown.html">Home Countdown</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#portFolio" class="">Portfolio</a>
                        <ul class="dropdown-menu" role="menu">
                            @*<li><a href="~/Views/Home/Modals.cshtml">Javascript Exercises</a></li>*@
                            @*<li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                                <li><a href="single-portfolio.html">Project Slider</a></li>
                                <li><a href="single-portfolio-carousel.html">Project Carousel</a></li>
                                <li><a href="single-portfolio-video.html">Project Video</a></li>
                                <li><a href="single-portfolio-fullscreen.html">Project Fullscreen</a></li>
                                <li><a href="single-portfolio-fullscreen-video.html">Project Fullscreen Video</a></li>
                                <li><a href="single-portfolio-image-list.html">Project Image List</a></li>*@

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#challenges" class="">Challenges</a>
                        <ul class="dropdown-menu" role="menu">
                            @*<li><a href="blog.html">Blog Archive</a></li>
                                <li><a href="single-post.html">Single Post</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#contact1" class="">Contact</a>
                        <ul class="dropdown-menu" role="menu">
                            @*<li><a href="index-shop.html">Home Shop</a></li>
                                <li><a href="single-product.html">Single Product</a></li>*@
                        </ul>
                    </li>
                    <li><a href="#search"><i class="pe-7s-search"></i></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div id="search-wrapper">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="Enter Search Term" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <!-- Header -->
    <header id="headerwrap" class="backstretched fullheight">
        <div class="container vertical-center">
            <div class="intro-text vertical-center text-center smoothie">
                <div class="intro-heading wow fadeIn heading-font" style="color:white" id="hello1" data-wow-delay="0.5s">
                    Hello
                    @*<span class="rotate">Learning</span></div>*@
                    @*<div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.4s">We Are <span class="rotate">Grace, Power, Style</span></div>*@

                    <a href="#welcome" class="mouse page-scroll"><div class="wheel"></div></a>
                </div>
            </div>
        </div>
    </header>


    <!--ABOUT ME SECTION-->
    <section id="aboutMe">
        <div class="section-inner">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center mb100 wow fadeIn" data-wow-delay="0.5s">
                        <h2 class="section-heading">About Me</h2>
                        <hr class="thin-hr">
                        @*<h3 class="section-subheading secondary-font">Were very happy to see you.</h3>*@
                    </div>
                </div>
            </div>

            <div>
                <div class="container">
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.5s">
                        <p class="lead">My name is Tara. I have two dogs named Jax and Bella. When I finish at Coder Foundry I will be a web developer.</p>
                        <p class="section-subheading secondary-font">Fun Fact: I love goats.</p>
                        <p class="mt30"><a href="#contact1" class="btn btn-primary btn-theme page-scroll">Get In Touch</a></p>
                    </div>

                    <div class="col-md-6">
                        <img src="~/Template/assets/img/isometric-ipad-white.png" class="img-responsive alignright wow fadeInRight" data-wow-delay="0.5s" alt="">
                    </div>
                </div>
            </div>

        </div>
    </section>



    <!--BADGES-->
    <section class="dark-wrapper">
        <div class="section-inner">
            <div class="wow fadeIn" data-wow-delay="0.5s">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-xs-12" role="tabpanel">
                            <div class="col-xs-4 col-sm-12">
                                <!--Nav Tabs-->
                                <ul class="nav nav-justified icon-tabs" id="nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#dustin" aria-controls="dustin" role="tab" data-toggle="tab">
                                            <span class="fa-4x pe-7s-headphones"></span>
                                            <span class="tabtitle heading-font">Javascript</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#daksh" aria-controls="daksh" role="tab" data-toggle="tab">
                                            <span class="fa-4x pe-7s-diamond"></span>
                                            <span class="tabtitle heading-font">C#</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#anna" aria-controls="anna" role="tab" data-toggle="tab">
                                            <span class="fa-4x pe-7s-plugin"></span>
                                            <span class="tabtitle heading-font">HTML</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#wafer" aria-controls="wafer" role="tab" data-toggle="tab">
                                            <span class="fa-4x pe-7s-users"></span>
                                            <span class="tabtitle heading-font">CSS</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            @*<div class="col-xs-8 col-sm-12 mt60">
                                Tab panes
                                         <div class="tab-content" id="tabs-collapse">
                                             <div role="tabpanel" class="tab-pane fade in active" id="dustin">
                                                 <div class="tab-inner">
                                                     <p class="lead">Context</p>
                                                 </div>
                                             </div>

                                             <div role="tabpanel" class="tab-pane fade" id="daksh">
                                                 <div class="tab-inner">
                                                     <p class="lead">Context</p>
                                                 </div>
                                             </div>

                                             <div role="tabpanel" class="tab-pane fade" id="anna">
                                                 <div class="tab-inner">
                                                     <p class="lead">Context</p>
                                                 </div>
                                             </div>

                                             <div role="tabpanel" class="tab-pane fade" id="wafer">
                                                 <div class="tab-inner">
                                                     <p class="lead">Context</p>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="~/Template/assets/img/bg/bg6.jpg" data-speed="0.7">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center mb100 wow fadeIn" data-wow-delay="0.5s">
                            <h2 class="section-heading">Client Reviews</h2>
                            <hr class="thin-hr">
                            <h3 class="section-subheading secondary-font">Satisfaction, everytime.</h3>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="1" data-items-tablet="[768,1]" data-items-mobile="[479,1]">
                                <li>
                                    <div class="row">
                                        <div class="col-xs-10 col-xs-offset-1 item-caption text-center">
                                            <div class="mb30">
                                                <img src="~/Template/assets/img/team/small1.jpg" class="img-responsive img-circle testimonial-author" alt="">
                                            </div>
                                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente</p>
                                            <h4>Charles Davies</h4>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-10 col-xs-offset-1 item-caption text-center">
                                            <div class="mb30">
                                                <img src="~/Template/assets/img/team/small2.jpg" class="img-responsive img-circle testimonial-author" alt="">
                                            </div>
                                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente</p>
                                            <h4>Charles Davies</h4>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@


    <!--RESUME SECTION-->

    <section id="Resume" class="dark-wrapper">
        <div class="section-inner nopaddingbottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 text-center mb100 wow fadeIn" data-wow-delay="0.5s">
                        <h2 class="section-heading">Resume</h2>
                        @*<hr class="thin-hr">*@
                        <h3 class="section-subheading secondary-font">Learn more about my professional history</h3>
                        <p><a href="~/Template/assets/img/Tara Clay Resume.pdf" class="btn btn-primary btn-theme page-scroll">View</a></p>
                    </div>
                    <div class="col-lg-4 nopadding-lr">
                        <img src="~/Template/assets/img/world-map.png" class="img-responsive smoothie wow fadeIn" data-wow-delay="0.5s" alt="">

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--PORTFOLIO SECTION-->


    <section id="portFolio">
        <div class="section-inner nopaddingbottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center mb100 wow fadeIn" data-wow-delay="0.5s">
                        <h2 class="section-heading">Portfolio</h2>
                        @*<hr class="thin-hr">
                            <h3 class="section-subheading secondary-font">A small taste of our success.</h3>*@
                    </div>
                </div>
            </div>
            <div class="wow fadeIn" data-wow-delay="0.5s">
                @*<ul class="portfolio-filter mb30 text-center list-inline wow fadeIn" data-wow-delay="0.5s" alt="">
                        <li><a class="btn btn-primary btn-transparent active" href="#" data-filter="*">All</a></li>
                        <li><a class="btn btn-primary btn-transparent" href="#" data-filter=".apps">Apps</a></li>
                        <li><a class="btn btn-primary btn-transparent" href="#" data-filter=".design">Design</a></li>
                        <li><a class="btn btn-primary btn-transparent" href="#" data-filter=".photography">Photography</a></li>
                        <li><a class="btn btn-primary btn-transparent" href="#" data-filter=".video">Video</a></li>
                    </ul>*@


                @*<div class="col-sm-6 nopadding-lr dark-wrapper opaqued background-cover" style="background-image: url('~/Template/assets/img/bg/bg1.jpg');">
                        <div class="dark-opaqued section-inner pad-sides-60 match-height" data-mh="promo-inner">
                            <h3>Bug Tracker</h3>
                            <p class="lead">Here is a description of my project.</p>
                            <p class="mt30"><a href="#contact" class="btn btn-primary btn-white page-scroll">Find Out More</a></p>
                        </div>
                    </div>

                    <div class="col-sm-6 nopadding-lr dark-wrapper opaqued background-cover" style="background-image: url('~/Template/assets/img/bg/bg3.jpg');">
                        <div class="dark-opaqued section-inner pad-sides-60 match-height text-right" data-mh="promo-inner">
                            <h3>Financial Project</h3>
                            <p class="lead">Here is a description of my project.</p>
                            <p class="mt30"><a href="#contact" class="btn btn-primary btn-white page-scroll">Find Out More</a></p>
                        </div>
                    </div>*@



                <ul class="portfolio-items nopadding-lr isotope list-unstyled">
                    <li class="col-md-6 portfolio-item nopadding-lr apps isotope-item hover-item">
                        <img src="~/Template/assets/img/other/pic6.png" class="img-responsive dark-opaqued smoothie wow fadeIn" data-wow-delay="0.5s" alt="">
                        <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.5s">
                            <h3 class="vertical-center smoothie"><a href="single-portfolio-fullscreen.html" title="view project">Bug Tracker</a></h3>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <div class="vertical-center smoothie">
                                <a href="" class="smoothie btn btn-primary btn-white page-scroll" data-toggle="modal" data-target="#numModal">View</a>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6 portfolio-item nopadding-lr design isotope-item hover-item">
                        <img src="~/Template/assets/img/other/pic4.jpg" class="img-responsive smoothie wow fadeIn" data-wow-delay="0.5s" alt="">
                        <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.5s">
                            <h3 class="vertical-center smoothie"><a href="single-portfolio-fullscreen-video.html" title="view project">Financial</a></h3>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <div class="vertical-center smoothie">
                                <a href="" class="smoothie btn btn-primary btn-white page-scroll" data-toggle="modal" data-target="#factModal">View</a>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6 portfolio-item nopadding-lr photography isotope-item hover-item">
                        <img src="~/Template/assets/img/other/pic5.png" class="img-responsive smoothie wow fadeIn" data-wow-delay="0.5s" alt="">
                        <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.5s">
                            <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Blog</a></h3>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <div class="vertical-center smoothie">
                                <a href="" class="smoothie btn btn-primary btn-white page-scroll" data-toggle="modal" data-target="#fizzModal">View</a>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6 portfolio-item nopadding-lr video isotope-item hover-item">
                        <img src="~/Template/assets/img/other/pic2.jpg" class="img-responsive smoothie wow fadeIn" data-wow-delay="0.5s" alt="">
                        <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.5s">
                            <h3 class="vertical-center smoothie"><a href="single-portfolio-carousel.html" title="view project">Project</a></h3>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <div class="vertical-center smoothie">
                                <a href="" class="smoothie btn btn-primary btn-white page-scroll" data-toggle="modal" data-target="#palModal">View</a>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </section>

    <!--JAVASCRIPT CHALLENGES-->

    <section id="challenges">
        <div class="section-inner nopaddingbottom">
            <div class="col-lg-12 text-center mb100 wow fadeIn" data-wow-delay="0.5s">

                <h2 class="section-heading">Challenges</h2>
            </div>
            <ul class="owl-carousel fw-carousel wow fadeIn list-unstyled" data-items="3" data-items-tablet="[768,2]" data-items-mobile="[479,1]">

                <li class="nopadding-lr hover-item">
                    <img src="~/Template/assets/img/portfolio/numCha1.jpg" class="img-responsive smoothie wow fadeIn" data-wow-delay="0.5s" alt="">
                    <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.5s">
                        <h3 class="vertical-center smoothie"><a href="single-portfolio-fullscreen.html" title="view project">Number Challenge</a></h3>
                    </div>
                    <div class="hover-item-caption smoothie">
                        <div class="vertical-center smoothie">
                            <a href="" class="smoothie btn btn-primary btn-white page-scroll" data-toggle="modal" data-target="#numModal">View</a>
                        </div>
                    </div>
                </li>

                <li class="nopadding-lr hover-item">
                    <img src="~/Template/assets/img/portfolio/fact1.jpg" class="img-responsive smoothie wow fadeIn" data-wow-delay="0.5s" alt="">
                    <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.5s">
                        <h3 class="vertical-center smoothie"><a href="single-portfolio-fullscreen-video.html" title="view project">Factorials</a></h3>
                    </div>
                    <div class="hover-item-caption smoothie">
                        <div class="vertical-center smoothie">
                            <a href="single-portfolio-fullscreen-video.html" class="smoothie btn btn-primary btn-white page-scroll" data-toggle="modal" data-target="#factModal">View</a>
                        </div>
                    </div>
                </li>

                <li class="nopadding-lr hover-item">
                    <img src="~/Template/assets/img/portfolio/fizz1.jpg" class="img-responsive smoothie wow fadeIn" data-wow-delay="0.5s" alt="">
                    <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.5s">
                        <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">FizzBuzz</a></h3>
                    </div>
                    <div class="hover-item-caption smoothie">
                        <div class="vertical-center smoothie">
                            <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll" data-toggle="modal" data-target="#fizzModal">View</a>
                        </div>
                    </div>
                </li>
                <li class="nopadding-lr hover-item">
                    <img src="~/Template/assets/img/portfolio/pal1.jpg" class="img-responsive smoothie wow fadeIn" data-wow-delay="0.5s" alt="">
                    <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.5s">
                        <h3 class="vertical-center smoothie"><a href="single-portfolio-carousel.html" title="view project">Palindrome</a></h3>
                    </div>
                    <div class="hover-item-caption smoothie">
                        <div class="vertical-center smoothie">
                            <a href="single-portfolio-carousel.html" class="smoothie btn btn-primary btn-white page-scroll" data-toggle="modal" data-target="#palModal">View</a>
                        </div>
                    </div>

                </li>
                @*<li class="nopadding-lr hover-item">
                        <img src="~/Temaplate/assets/img/news/9.jpg" class="img-responsive smoothie wow fadeIn" data-wow-delay="0.5s" alt="">
                        <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.5s">
                            <div class="vertical-center smoothie">
                                <strong class="heading-font">Travel</strong>
                                <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                                <hr class="thin-hr">
                                <p class="secondary-font post-excerpt">At an these still no dried folly stood thing. Rapid it on hours hills it seven years.</p>
                            </div>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article">View</a></h3>
                        </div>

                    </li>
                    <li class="nopadding-lr hover-item">
                        <img src="~/Template/assets/img/news/10.jpg" class="img-responsive smoothie wow fadeIn" data-wow-delay="0.5s" alt="">
                        <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.5s">
                            <div class="vertical-center smoothie">
                                <strong class="heading-font">Travel</strong>
                                <h3><a href="single-post.html" title="view project">Post Title</a></h3>
                                <hr class="thin-hr">
                                <p class="secondary-font post-excerpt">At an these still no dried folly stood thing. Rapid it on hours hills it seven years.</p>
                            </div>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article">View</a></h3>
                        </div>

                    </li>*@
            </ul>
        </div>
    </section>


    <!--BLOG SECTION-->
    @*<section id="Bloggy" class="dark-wrapper">
            <div class="section-inner nopaddingbottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center mb100 wow fadeIn" data-wow-delay="0.5s">
                            <h2 class="section-heading">Blog</h2>
                            <hr class="thin-hr">
                            <h3 class="section-subheading secondary-font">Fresh from the press.</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12 nopadding-lr hover-item">
                    <img src="~/Template/assets/img/other/pic2.jpg" class="img-responsive smoothie wow fadeIn" data-wow-delay="0.5s" alt="">
                    <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.5s">
                        <div class="vertical-center smoothie">
                            <strong class="heading-font">Travel</strong>
                            <h3><a href="single-post.html" title="view project">First Blog</a></h3>
                            <hr class="thin-hr">
                            <p class="secondary-font post-excerpt">This will be the first blog post excerpt.</p>
                        </div>
                    </div>
                    <div class="hover-item-caption smoothie">
                        <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article">View</a></h3>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 nopadding-lr hover-item">
                    <img src="~/Template/assets/img/other/pic3.jpg" class="img-responsive smoothie wow fadeIn" data-wow-delay="0.5s" alt="">
                    <div class="overlay-item-caption smoothie wow fadeIn" data-wow-delay="0.5s">
                        <div class="vertical-center smoothie">
                            <strong class="heading-font">Travel</strong>
                            <h3><a href="single-post.html" title="view project">Second Blog</a></h3>
                            <hr class="thin-hr">
                            <p class="secondary-font post-excerpt">this will be the second blog post excerpt.</p>
                        </div>
                    </div>
                    <div class="hover-item-caption smoothie">
                        <h3 class="vertical-center smoothie"><a href="single-post.html" class="smoothie btn btn-primary btn-white page-scroll" title="view article">View</a></h3>
                    </div>
                </div>
            </div>
        </section>*@

    <div role="tabpanel">

        <!-- CONTACT SECTION -->
        <ul class="nav nav-justified icon-tabs" id="nav-tabs2" role="tablist">
            <li role="presentation" class="ptb silver-bg smoothie active">
                <a href="#contact1" aria-controls="dustin" role="tab" data-toggle="tab">
                    <span class="tabtitle heading-font">Get In Touch</span>
                </a>
            </li>
            <li role="presentation" class="ptb silver-bg smoothie">
                <a href="#contact2" aria-controls="daksh" role="tab" data-toggle="tab">
                    <span class="tabtitle heading-font">Come See Us</span>
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="tabs-collapse">
            <div role="tabpanel" class="tab-pane fade in active" id="contact1">
                <div id="contact-inner" class="nopadding-lr dark-wrapper opaqued background-cover" style="background-image: url('../Template/assets/img/bg/bg1.jpg');">
                    <div class="section-inner dark-opaqued">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="message"></div>
                                    <form method="post" action="sendemail.php" id="contactform" class="main-contact-form wow fadeIn" data-wow-delay="0.5s">
                                        <input type="text" class="form-control col-md-4" name="name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." />
                                        <input type="text" class="form-control col-md-4" name="email" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." />
                                        <input type="text" class="form-control col-md-4" name="website" placeholder="Your URL *" id="website" required data-validation-required-message="Please enter your web address." />
                                        <textarea name="comments" class="form-control" id="comments" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
                                        <input class="btn btn-primary mt30 btn-white pull-right" type="submit" name="submit" value="Submit" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="contact2">
                <div id="mapwrapper"></div>
            </div>

        </div>
    </div>

    @*<section class="dark-wrapper">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="widget about-us-widget">
                                <h4 class="widget-title"><strong>Global</strong> Coverage</h4>
                                <p>Was drawing natural fat respect husband. An as noisy an offer drawn blush place. These tried for way joy wrote witty. In mr began music weeks after at begin.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget">
                                <h4 class="widget-title"><strong>Latest</strong> Articles</h4>
                                <div>
                                    <div class="media">
                                        <div class="pull-left">
                                            <img class="widget-img" src="~/Template/assets/img/widget/widget1.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <span class="media-heading"><a href="#">Blog Post A</a></span>
                                            <small class="muted">Posted 14 April 2015</small>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="pull-left">
                                            <img class="widget-img" src="~/Template/assets/img/widget/widget2.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <span class="media-heading"><a href="#">Blog Post B</a></span>
                                            <small class="muted">Posted 14 April 2015</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget">
                                <h4 class="widget-title"><strong>Latest</strong> Articles</h4>
                                <div class="tagcloud">
                                    <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Local</a>
                                    <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Business</a>
                                    <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Media</a>
                                    <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Photogtraphy</a>
                                    <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Aid</a>
                                    <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Fashion</a>
                                    <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">News</a>
                                    <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Cars</a>
                                    <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Global Affairs</a>
                                    <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Music</a>
                                    <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">Downloads</a>
                                    <a href="#" class="tag-link btn btn-theme btn-white btn-xs" title="3 topics">MP3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    @*<footer class="white-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="list-inline social-links wow fadeIn" data-wow-delay="0.5s">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>

                    <hr class="thin-hr" />

                    <div class="col-md-12 text-center wow fadeIn" data-wow-delay="0.5s">
                        <span class="copyright">Copyright 2019. Designed by DISTINCTIVE THEMES</span>
                    </div>
                </div>
            </div>
        </footer>*@
    <div class=" container">
        <div class=" row">
            <div class="col-lg-6">

                <!--Number Challenge Modal-->
                <div class="modal fade" id="numModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content" style="background-color:lightgray">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="heading-font modal-title">Number Challenge</h3>
                            </div>
                            <div class="modal-body secondary-font">

                                <p><h4 class="secondary-font">Please enter five numbers and select which option you would like performed.</h4></p>

                                <div class="row">
                                    <div class="col-md-6">
                                        First Number
                                        <p><input id="Num1" type="number" /></p>
                                        Second Number
                                        <p><input id="Num2" type="number" /></p>
                                        Third Number
                                        <p><input id="Num3" type="number" /></p>
                                        Fourth Number
                                        <p><input id="Num4" type="number" /></p>
                                        Fifth Number
                                        <p><input id="Num5" type="number" /></p>
                                    </div>

                                    <div class="col-md-6">
                                        Answer:
                                        <p><div id="result1"></div></p>
                                    </div>
                                </div>

                                <p>
                                    <button id="button1" class="smoothie btn btn-default btn-md" onclick="Least2()">Least</button>
                                    <button id="button1" class="smoothie btn btn-default btn-md" onclick="Great2()">Greatest</button>
                                    <button id="button1" class="smoothie btn btn-default btn-md" onclick="Mean2()">Mean</button>
                                    <button id="button1" class="smoothie btn btn-default btn-md" onclick="Sum2()">Sum</button>
                                    <button id="button1" class="smoothie btn btn-default btn-md" onclick="Prod2()">Product</button>
                                </p>


                            </div>

                            <div class="modal-footer">
                                <div class="btn btn-default" id="numChall" onclick="ToggleCode('numChallCode', 'numChall')">
                                    Show Code
                                </div>
                                <button type="button" class="smoothie btn btn-default" onclick="clrMath()">Clear</button>
                                <button type="button" class="smoothie btn btn-default" data-dismiss="modal">Close</button>
                                <div id="numChallCode" style="display:none">
                                    <pre><code class="language-js">
//Number Challenge Code//
function Least2() {
let x = Math.min(parseInt(Num1.value), parseInt(Num2.value), parseInt(Num3.value), parseInt(Num4.value), parseInt(Num5.value));
document.getElementById('result1').innerHTML = x
}

function Great2() {
let x = Math.max(parseInt(Num1.value), parseInt(Num2.value), parseInt(Num3.value), parseInt(Num4.value), parseInt(Num5.value));
document.getElementById('result1').innerHTML = x
}

function Mean2() {
let total = parseInt(Num1.value) + parseInt(Num2.value) + parseInt(Num3.value) + parseInt(Num4.value) + parseInt(Num5.value);
let mean = total / 5;
document.getElementById('result1').innerHTML = mean;
}

function Sum2() {
document.getElementById('result1').innerHTML = parseInt(Num1.value) + parseInt(Num2.value) + parseInt(Num3.value) + parseInt(Num4.value) + parseInt(Num5.value);
}

function Prod2() {
document.getElementById('result1').innerHTML = parseInt(Num1.value) * parseInt(Num2.value) * parseInt(Num3.value) * parseInt(Num4.value) * parseInt(Num5.value);
}
                                    </code></pre>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <!--Factorial Modal-->
                <div class="modal fade" id="factModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content" style="background-color:lightgray">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title heading-font">Factorials</h3>
                            </div>
                            <div class="modal-body secondary-font">

                                <p><h4 class="secondary-font">Enter a positive number to calculate its factorial.</h4></p>

                                <div class="row">
                                    <div class="col-md-6">
                                        <p><input id="facto" type="number" /></p>

                                        <p><button id="button1" class="smoothie btn btn-default btn-sm" onclick="Factorial(+facto.value)">Check</button></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Answer:<div id="result2"></div></p>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <div class="btn btn-default" id="factCode" onclick="ToggleCode('factCodeShow', 'factCode')">
                                    Show Code
                                </div>
                                <button type="button" class="smoothie btn btn-default" onclick="clrFact()">Clear</button>
                                <button type="button" class="smoothie btn btn-default" data-dismiss="modal">Close</button>
                                <div id="factCodeShow" style="display:none">
                                    <pre><code class="language-js">
//Factorial Code//
function Factorial(x) {
    var ans = 1;
    for (var i = 1; i <= x; i++) {
        ans = ans * i;
    }
    return document.getElementById('result2').innerHTML = ans;
}
                                    </code></pre>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-lg-6">

                <!--FizzBuzz Modal-->
                <div class="modal fade" id="fizzModal" role="dialog">
                    <div class="modal-dialog modal-dialog-scrollable">

                        <!-- Modal content-->
                        <div class="modal-content" style="background-color:lightgray">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title heading-font">FizzBuzz</h3>
                            </div>
                            <div class="modal-body secondary-font">

                                <p><h4 class="secondary-font">Please enter two numbers between 1 and 100. For each number that is a multiple of the first number it will print "Fizz" instead of a number. For each number that is a multiple of the second number it will print "Buzz". For numbers that are multiples of both numbers it will print "FizzBuzz" instead of a number.</h4></p>

                                <div class="row">
                                    <div class=" col-md-4">
                                        First Number
                                        <p><input id="Num6" type="number" /></p>
                                        Second Number
                                        <p><input id="Num7" type="number" /></p>


                                        <p>
                                            <button id="button1" class="smoothie btn btn-default btn-sm" onclick="Fizzybuzz()">Go</button>
                                        </p>
                                    </div>
                                    <div class="col-md-8">
                                        <p><div id="result3"></div></p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="btn btn-default" id="fizzBuzz" onclick="ToggleCode('fizzBuzzShow', 'fizzBuzz')">
                                    Show Code
                                </div>

                                <button type="button" class="smoothie btn btn-default" onclick="clrFizz()">Clear</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <div id="fizzBuzzShow" style="display:none">
                                    <pre><code class="language-js">
//FizzBuzz Code//
function Fizzybuzz() {
    var ans = "";
    var fb1 = parseInt(Num6.value);
    var fb2 = parseInt(Num7.value);
    for (var i = 1; i <= 100; i++) {
        if (i % fb1 == 0 && i % fb2 == 0) {
            ans += 'Fizzbuzz';
        }
        else if (i % fb1 == 0) {
            ans += 'Fizz';
        }
        else if (i % fb2 == 0) {
            ans += 'Buzz';
        }
        else { ans += i + "<br>"; }

    }
    document.getElementById('result3').innerHTML = ans;
}
                             </code></pre>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!--Palindrome Modal-->
                <div class="modal fade" id="palModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content" style="background-color:lightgray">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title heading-font">Palindrome</h3>
                            </div>
                            <div class="modal-body secondary-font">
                                <p><h4 class="secondary-font">Enter a word to check if it is a palindrome.</h4></p>

                                <div class="row">
                                    <div class="col-md-5">
                                        <p><input id="wordEntry" type="text" /></p>

                                        <p>
                                            <button id="button1" class="smoothie btn btn-default btn-sm" onclick="Palindrome()">Check</button>
                                        </p>
                                    </div>
                                    <div class="col-md-7">
                                        <p><div id="result4"></div></p>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <div class="btn btn-default" id="palindrome" onclick="ToggleCode('palindromeCode', 'palindrome')">
                                    Show Code
                                </div>
                                <button type="button" class="smoothie btn btn-default" onclick="clrPal()">Clear</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <div id="palindromeCode" style="display:none">
                                    <pre><code class="language-js">
//Palindrome Code//
function Palindrome() {

    var givenWord = document.getElementById('wordEntry').value;

    var temp = givenWord.toLowerCase();
    var reverseWord = temp.split('').reverse().join('');
    var palAns = '';

    if (givenWord.toLowerCase() == reverseWord) {
        palAns = givenWord + " " + 'is a palindrome.';
    } else {
        palAns = givenWord + " " + 'is not a palindrome.';
    }
    document.getElementById('result4').innerHTML = palAns;
}
                            </code></pre>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>


        @section scripts{
            <script>

                function Least2() {
                    let x = Math.min(parseInt(Num1.value), parseInt(Num2.value), parseInt(Num3.value), parseInt(Num4.value), parseInt(Num5.value));
                    document.getElementById('result1').innerHTML = x
                }

                function Great2() {
                    let x = Math.max(parseInt(Num1.value), parseInt(Num2.value), parseInt(Num3.value), parseInt(Num4.value), parseInt(Num5.value));
                    document.getElementById('result1').innerHTML = x
                }

                function Mean2() {
                    let total = parseInt(Num1.value) + parseInt(Num2.value) + parseInt(Num3.value) + parseInt(Num4.value) + parseInt(Num5.value);
                    let mean = total / 5;
                    document.getElementById('result1').innerHTML = mean;
                }

                function Sum2() {
                    document.getElementById('result1').innerHTML = parseInt(Num1.value) + parseInt(Num2.value) + parseInt(Num3.value) + parseInt(Num4.value) + parseInt(Num5.value);
                }

                function Prod2() {
                    document.getElementById('result1').innerHTML = parseInt(Num1.value) * parseInt(Num2.value) * parseInt(Num3.value) * parseInt(Num4.value) * parseInt(Num5.value);
                }

                function clrMath() {
                    (document.getElementById('Num1').value = ""),
                        (document.getElementById('Num2').value = ""),
                        (document.getElementById('Num3').value = ""),
                        (document.getElementById('Num4').value = ""),
                        (document.getElementById('Num5').value = ""),
                        (document.getElementById('result1').innerHTML = "")
                }

                function ToggleCode(toggleCode, toggleButton) {
                    let correctCode = document.getElementById(toggleCode);
                    let correctBtn = document.getElementById(toggleButton);
                    if (correctCode.style.display === "none") {
                        correctCode.style.display = "block";
                        correctBtn.innerHTML = "Hide Code";
                    }
                    else {
                        correctCode.style.display = "none";
                        correctBtn.innerHTML = "Show Code";
                    }
                }

            </script>

            <script>

                function Factorial(x) {
                    var ans = 1;
                    for (var i = 1; i <= x; i++) {
                        ans = ans * i;
                    }
                    return document.getElementById('result2').innerHTML = ans;
                }

                function clrFact() {
                    document.getElementById('facto').value = "";
                    document.getElementById('result2').innerHTML = "";
                }

                function ToggleCode(toggleCode, toggleButton) {
                    let correctCode = document.getElementById(toggleCode);
                    let correctBtn = document.getElementById(toggleButton);
                    if (correctCode.style.display === "none") {
                        correctCode.style.display = "block";
                        correctBtn.innerHTML = "Hide Code";
                    }
                    else {
                        correctCode.style.display = "none";
                        correctBtn.innerHTML = "Show Code";
                    }
                }


            </script>

            <script>

                function Fizzybuzz() {
                    var ans = "";
                    var fb1 = parseInt(Num6.value);
                    var fb2 = parseInt(Num7.value);
                    for (var i = 1; i <= 100; i++) {
                        if (i % fb1 == 0 && i % fb2 == 0) {
                            ans += '<strong><div style="color:blue">Fizzbuzz</div></strong>';
                        }
                        else if (i % fb1 == 0) {
                            ans += '<strong><div style="color:green">Fizz</div></strong>';
                        }
                        else if (i % fb2 == 0) {
                            ans += '<strong><div style="color:red">Buzz</div></strong>';
                        }
                        else { ans += i + "<br>"; }

                    }
                    document.getElementById('result3').innerHTML = ans;
                }

                function clrFizz() {
                    (document.getElementById('Num6').value = ""),
                        (document.getElementById('Num7').value = ""),
                        (document.getElementById('result3').innerHTML = "")

                }

                function ToggleCode(toggleCode, toggleButton) {
                    let correctCode = document.getElementById(toggleCode);
                    let correctBtn = document.getElementById(toggleButton);
                    if (correctCode.style.display === "none") {
                        correctCode.style.display = "block";
                        correctBtn.innerHTML = "Hide Code";
                    }
                    else {
                        correctCode.style.display = "none";
                        correctBtn.innerHTML = "Show Code";
                    }
                }

            </script>

            <script>

                function Palindrome() {

                    var givenWord = document.getElementById('wordEntry').value;

                    var temp = givenWord.toLowerCase();
                    var reverseWord = temp.split('').reverse().join('');
                    var palAns = '';

                    if (givenWord.toLowerCase() == reverseWord) {
                        palAns = givenWord + " " + 'is a palindrome.';
                    } else {
                        palAns = givenWord + " " + 'is not a palindrome.';
                    }
                    document.getElementById('result4').innerHTML = palAns;
                }

                function clrPal() {
                    document.getElementById('wordEntry').value = "";
                    document.getElementById('result4').innerHTML = "";
                }

                function ToggleCode(toggleCode, toggleButton) {
                    let correctCode = document.getElementById(toggleCode);
                    let correctBtn = document.getElementById(toggleButton);
                    if (correctCode.style.display === "none") {
                        correctCode.style.display = "block";
                        correctBtn.innerHTML = "Hide Code";
                    }
                    else {
                        correctCode.style.display = "none";
                        correctBtn.innerHTML = "Show Code";
                    }
                }


            </script>

        }

    </div>

</div>