<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Template/assets/img/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Template/assets/img/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Template/assets/img/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Template/assets/img/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="~/Template/assets/img/ico/apple-touch-icon-57x57.png">
    <link href="~/Content/prism.css" />
    

    <title>Tara Clay's Portfolio</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Template/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Template/assets/css/animate.css" rel="stylesheet">
    <link href="~/Template/assets/css/plugins.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Template/assets/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Template/assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Template/assets/css/pe-icons.css" rel="stylesheet">

</head>

<body id="page-top" class="index">

    @RenderBody()
    <script src="~/Template/assets/js/jquery.js"></script>
    <script src="~/Template/assets/js/bootstrap.min.js"></script>
    <script src="~/Template/assets/js/plugins.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="~/Template/assets/js/init.js"></script>
    <script src="~/Scripts/prism.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
    $(document).ready(function () {
            'use strict';
            jQuery('#headerwrap').backstretch([
                "/Template/assets/img/bg/mtn1.jpg"
            ], { duration: 8000, fade: 100 });
        });</script>

    @RenderSection("scripts", required: false)
</body>
</html>
